<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>DIGITAL ASSIGNMENT 1</h1>
                <h2>CREATING A SIMPLE REST API USING VISUAL STUDIO 2012</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                CLICK HERE TO VIEW THE PAGE
                <a href="http://localhost:59375/api/products" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                </p>
        </div>
    </section>
    
</div>
